body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.timeline-container {
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    /* 使容器在視窗中垂直、水平居中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/* 把容器移回正中 */
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.timeline {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 2px solid #333;
}

.timeline-item {
    position: relative;
    width: 200px;
    text-align: center;
}



.circle1 {
    width: 30px;
    height: 30px;
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    /* 橙色到黃色 */
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

.circle2 {
    width: 30px;
    height: 30px;
    background: linear-gradient(45deg, #feb47b, #28a745);
    /* 黃色到綠色 */
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

.circle3 {
    width: 30px;
    height: 30px;
    background: linear-gradient(45deg, #28a745, #4e6ef2);
    /* 綠色到藍色 */
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

.circle4 {
    width: 30px;
    height: 30px;
    background: linear-gradient(45deg, #4e6ef2, #9b4df5);
    /* 藍色到紫色 */
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

.year {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.content {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.degree,
.job-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.school,
.company {
    font-size: 14px;
    color: #777;
}

.location {
    font-size: 14px;
    color: #777;
}

.skills {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

ul {
    margin-top: 5px;
    padding-left: 20px;
    list-style-type: square;
    text-align: left;
    /* 確保文本對齊到左邊 */
    font-size: small;
}